.header{
    background: var(--blue);
    display: flex;
    align-items: flex-start;
    padding: 1.25rem 0;
    justify-content: space-between;

}

.header img {
    height: 4rem;
    max-width: 100%;
    margin-left: 15px;
}